
// bulma colors
$old-dark: #14213D;

//$primary: #087ca7;
$info: #63ccd5;
$primary: #db8d65;
//$info: #00f5b8;
$dark: #433c38;
$light: #f3e8e0;

//$primary: #a6f0c6;
//$light: #a98b98;
//$info: #4e3d53;
//$dark: #0f1123;

//$primary: #3c9c7e;
//$info: #3c9c7e;
//$light: #e1cb89;
//$primary: #266c7a;
//$info: #266c7a;
//$dark: #41493c;
//$primary: #a6f0c6;
//$light: #a98b98;
//$info: #4e3d53;
//$dark: #0f1123;

// TODO: import separately
@import "node_modules/bulma/bulma";

body {
  background: $dark;
  color: $light;
}

header {
}

main {}

footer {
  height: 10vh;
}

.showcase {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.svg-inline--fa {
  color: $dark;
}
