
// bulma colors
$old-dark: #14213D;

//$primary: #087ca7;
//$info: #6096ba;
//$info: #db8d65;
//$info: #12ba7c;
$primary: #6096ba;
$info: #feb548;
$dark: #433c38;
$light: #f3e8e0;

// TODO: import separately
@import "node_modules/bulma/bulma";

body {
  background: $light;
  color: $dark;
  font-family: 'Poppins', sans-serif;
}

.is-header-element {
  font-size: 1.4rem;

  &.is-header-brand {
    font-size: 3rem;
  }
}

main {}

footer {
  height: 10vh;
}

.showcase {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.svg-inline--fa {
  //color: $dark;
}

.has-permanent-marker-font {
  font-family: 'Permanent Marker', cursive;
}

.pacers-gold-background {
  background: #fec23e;
}

.pacers-blue-color {
  color: #00275e!important;
}
