
$primary-color: #14213D;
$secondary-color: #FCA311;

@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-exp";

$bold: #FCA311;
$accent: #008a62;
$light: #E5E5E5;

body {
  background: white;
  color: $primary-color;
}

header {
  padding: 10px;
  border-bottom: 1px solid $light;
}

main {}

footer {}
